@import "/styles/elements";

@black: rgb(2,3,4);
@red: rgb(243,134,48);
@gold: rgb(237,241,216);
@brown: rgb(224,228,204);
@grey: rgb(83,119,122);
@pageWidth:800px;
body{
  h1, h3{
    margin: 5px 0px;
  }
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  .diagonalBackground(@brown,-45deg, 3%, 90px);
  color: @black;
  a{
    color: @black;
    border-bottom: 1px dotted @black;
    cursor: pointer;
    &:hover{
      color: lighten(@black, 20%);
      border-bottom: 1px dotted lighten(@black, 20%);
    }
  }
  form.login,form.register{
    width: 243px;
    margin: auto;
    padding-top: 126px;
  }
  form label span{
    min-width: 80px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    &.inline{
      min-width: 0px;
      padding-left: 5px;
    }
  }
  .wrapper{
    width: @pageWidth;
    margin: 10px auto 30px auto;
    background-color: @gold;
    .rounded(30px);
    .drop-shadow(1px, 1px, 5px, 0.3);
    min-height: 400px;
    padding: 15px;
    border: 6px solid @red;
  }
  #header{
    padding-bottom: 2px;
    width: @pageWidth;
    margin: 5px auto;
    height: 20px;
    margin-top: 25px;
    div{
      float: right;
      background-color: @gold;
      border: 6px solid @red;
      border-bottom: none;
      .rounded(10px 10px 0px 0px);
      padding: 5px 20px 5px 20px;

    }
  }
  #loading{
    width: 300px;
    left: 50%;

    position: absolute;
    margin: 30px auto;
    margin-left: -150px;
    background-color: @gold;
    .rounded(10px);
    .drop-shadow(1px, 1px, 5px, 0.3);
    padding: 15px;
    border: 6px solid @red;

  }
}

#store{
  .noneShown{
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
  }
  .cartView{
    table{
      width: 100%;
      input{
        width: 40px;
      }
      .price,.qty{
        text-align: right;
      }
      .totals{
        border-top: 3px solid @black;
        .total{
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
  .subTotal{
    border-top: 1px dotted @brown;
    text-align: right;
    padding-right: 110px;
    font-weight: bold;
    color: @black;
    span{
      padding-left: 5px;
      color: @red;
      .transition();
      &.priceUpdated{
        .transition();
        color: @gold;
      }
    }
  }
  .storeView{
    .categorySelection{
      font-size: 25px;
      .category{
        font-size: 16px;
      }
    }
    .storeItems{
      padding-top: 15px;
      .item{
        border-bottom: 1px dotted transparent;
        &:hover{
          background-color: lighten(@gold, 3%);
          border-bottom: 1px dotted @grey;
        }

        .name{
          display: inline-block;
        }
        .price{
          float: right;
          text-align: right;
          padding-right: 10px;
          display: inline-block;

        }
        .addToCart{
          float: right;
        }
      }
    }
  }
  .viewCart{
    .transition();
    &.cartUpdated{
      .transition();
      background-color: lighten(@grey, 30%);
    }
  }
  .orderDetails{
    .orderSummary{
      width: 512px;
      margin-left: 10px;
      display: inline-block;
      float: right;
    }
    .checkout{
      margin-left: 30px;
      float: none;
      margin-right: 0px;
    }
    .cancel{
      float: none;
      margin-left: 10px;
    }
    .left{
      display: inline-block;
      width: 272px;
      .threeWide{
        width: 265px;
      }
      .city{
        width: 171px;
      }
      .state{
        margin-left: 5px;
        margin-right: 5px;
        width: 35px;
      }
      .zip{
        width: 40px;
      }
    }
  }
  .orders{
    .orderHeader{
      .price{
        padding: 0px 20px;
      }
      .rounded(5px);
      cursor: pointer;
      margin: 5px;
      border: 3px solid @brown;
      .transition();
      &:hover{
        .transition();
        border: 3px solid darken(@brown, 20%);
      }
      padding: 10px;
      background-color: darken(@gold,15%);
      &:nth-child(2n){
        background-color: darken(@gold,10%);
      }
      .orderBody{
        margin: 10px;
        background-color: @gold;
        .rounded(2px);
        padding: 5px;
        tr:nth-child(2n){
          background-color: lighten(@gold, 5%);
        }
        .shipping, .billing{
          display: inline-block;
          background-color: @brown;
          .rounded(2px);
          padding: 5px 60px;
          margin-left: 20px;
        }
      }
    }
  }
}
.button{
  display: inline-block;
  background-color: lighten(@grey, 10%);
  display: inline-block;
  cursor: pointer;
  color: @gold;
  padding: 0px 5px;
  .rounded(5px);
  margin: 0px 2px;
  &:hover{
    color: @brown;
    background-color: @grey;
  }
  &.active{
    background-color: darken(@grey, 20%)
  }

}
.clear{
  clear:both;
}

.checkout, .cancel{
  float: right;
  margin-right: 110px;
  padding: 20px;
  margin-top: 8px;
  border: 2px solid @red;
}


.diagonalBackground(@color:grey, @angle:-45deg, @change:2%, @size:10px){
  background-color:@color;
  background: -webkit-linear-gradient(@angle, @color 0%, @color 25%, darken(@color, @change) 25%, darken(@color, @change) 50%, @color 50%, @color 75%, darken(@color, @change) 75%, darken(@color, @change) 100%);
  background: -o-linear-gradient(@angle, @color 0%, @color 25%, darken(@color, @change) 25%, darken(@color, @change) 50%, @color 50%, @color 75%, darken(@color, @change) 75%, darken(@color, @change) 100%);
  background: -ms-linear-gradient(@angle, @color 0%, @color 25%, darken(@color, @change) 25%, darken(@color, @change) 50%, @color 50%, @color 75%, darken(@color, @change) 75%, darken(@color, @change) 100%);
  background: linear-gradient(@angle, @color 0%, @color 25%, darken(@color, @change) 25%, darken(@color, @change) 50%, @color 50%, @color 75%, darken(@color, @change) 75%, darken(@color, @change) 100%);
//background: -moz-linear-gradient(@angle, @color 0%, @color 25%, darken(@color, @change) 25%, darken(@color, @change) 50%, @color 50%, @color 75%, darken(@color, @change) 75%, darken(@color, @change) 100%);
  background-size: @size @size;
}