extends layout

block content
  div(data-bind="visible: initialized()", style="display: none")
    h1 Good Day
    label
      span Show Completed
      input(data-bind="checked: showCompleted",type="checkbox")
    input(data-bind="click: sort", type="button", value="Sort")

    div(data-bind="foreach: todoList")
      div(data-bind="slideVisible: $parent.showCompleted() ? true : !completed()")
        input(data-bind="checked: completed",type="checkbox")
        input(data-bind="value: title, valueUpdate:'afterkeydown'")
        input(data-bind="click: $parent.removeListItem", type="button", value="Remove")
        br
    form(data-bind="submit: addListItem")
      input(data-bind="value: newListItemText, valueUpdate:'afterkeydown'", placeholder="New List Item")
      button(style="visibility: hidden")


block scripts
  script
    head.ready(function(){
      head.js('/scripts/index.js');
    });