extends layout

block content
  #store(data-bind="slideVisible: loginObject().user()")
    div
      .cart
        .button.viewCart(data-bind="click: viewStore, text:'View Store', css:{active:showStore()}")
        .button.viewCart(data-bind="click: viewCart, visible: cartItems, text: 'View Cart ('+cartItems()+')', css:{cartUpdated: cartUpdated()}, css:{active:showCart()}")
        .button.viewCart(data-bind="click: viewOrderHistory, visible: orderHistory().length, text: 'View Order History', css:{active:showOrderHistory()}")
      h1 awesome without me is only awe... so?
      div(data-bind="template: { foreach: errors }")
        span(data-bind="text: message")
        br
      .cartView(data-bind="slideVisible: showCart()")
        h3 Shopping Cart
        table
          thead
            th Name
            th(width="100px").price Price
            th(width="40px").qty Qty
            th(width="20px")
            th(width="100px")
          tbody
            | <!-- ko foreach: cart -->
            tr
              td
                div(data-bind="text: item.name()")
              td.price
                div(data-bind="text: item.formattedPrice()")
              td.qty
                input(data-bind="value: tmpQty, valueUpdate:'afterkeydown'", type="number", min="0", max="999")
              td.remove
                .button(data-bind="click: $root.removeFromCart") X
              td
                .button(data-bind="click: updateQty, visible: tmpQty() != qty() && tmpQty() > 0") Update
                .button(data-bind="click: $root.removeFromCart, visible: tmpQty() <= 0") Remove
            | <!-- /ko-->
        .subTotal
          | Subtotal:
          span(data-bind="text: cartPrice(), css:{priceUpdated: cartUpdated()}")
        .button.checkout(data-bind="click: viewCheckout") Checkout
        .clear
      .orderHistoryView(data-bind="slideVisible: showOrderHistory()")
        h3 Order History
        .orders(data-bind="foreach: orderHistory")
          .orderHeader(data-bind="click: toggleOrderBody")
            span.date(data-bind="text: orderDate")
            span.price(data-bind="text: orderPrice")
            span.items(data-bind="text: orderItems()+' item'+ (orderItems()==1 ? '' : 's')")
            .orderBody(style="display: none")
              table
                thead
                  th(width="900px") Name
                  th(width="100px").price Price
                  th(width="40px").qty Qty
                tbody
                  | <!-- ko foreach: order -->
                  tr
                    td
                      div(data-bind="text: item.name()")
                    td.price
                      div(data-bind="text: item.formattedPrice()")
                    td.qty
                      div(data-bind="text: tmpQty")
                  | <!-- /ko-->
              .subTotal
                | Total:
                span(data-bind="text: orderPrice()")
              .shipping(data-bind="visible: typeof orderDetails().shipping != 'undefined', if: typeof orderDetails().shipping != 'undefined'")
                h3 Shipping Details
                span(data-bind="text: orderDetails().shipping.name")
                br
                span(data-bind="text: orderDetails().shipping.street")
                br
                span(data-bind="text: orderDetails().shipping.city")
                span(data-bind="text: ' '+orderDetails().shipping.state")
                span(data-bind="text: ', '+orderDetails().shipping.zipCode")
                br
                span(data-bind="text: formatPhone(orderDetails().shipping.phone)")
              .billing(data-bind="visible: typeof orderDetails().billing != 'undefined', if: typeof orderDetails().billing != 'undefined'")
                h3 Billing Details
                span(data-bind="text: orderDetails().billing.name")
                br
                span(data-bind="text: orderDetails().billing.street")
                br
                span(data-bind="text: orderDetails().billing.city")
                span(data-bind="text: ' '+orderDetails().billing.state")
                span(data-bind="text: ', '+orderDetails().billing.zipCode")
                br
                span(data-bind="text: formatPhone(orderDetails().billing.phone)")



      .storeView(data-bind="slideVisible: showStore()")
        h3 Store
        .categorySelection
          div(data-bind="foreach: storeCategories")
            .category.button(data-bind="text: $data, click: $parent.selectCategory, css:{active: $data == $parent.selectedCategory()}")
        .noneShown(data-bind="slideVisible: !selectedCategory()") Select a category above
        .storeItems(data-bind="foreach: storeItems")
          .item(data-bind="slideVisible: category() == $parent.selectedCategory()")
            .name(data-bind="text: name")
            .addToCart.button(data-bind="click: $root.addToCart") Add To Cart
            .price(data-bind="text: formattedPrice")
      .orderDetails(data-bind="slideVisible: showCheckout()")
        .orderSummary
          table
            thead
              th(width="900px") Name
              th(width="100px").price Price
              th(width="40px").qty Qty
            tbody
              | <!-- ko foreach: cart -->
              tr
                td
                  div(data-bind="text: item.name()")
                td.price
                  div(data-bind="text: item.formattedPrice()")
                td.qty
                  div(data-bind="text: tmpQty")
              | <!-- /ko-->
          .subTotal
            | Total:
            span(data-bind="text: cartPrice()")
        .left
          form(data-bind="submit: checkout")
            h3 Shipping Details
            input.threeWide(data-bind="value:orderName", placeholder="Name", required)
            br
            input.threeWide(data-bind="value:orderStreet", placeholder="Street", required)
            br
            input.city(data-bind="value:orderCity", placeholder="City", required)
            input.state(data-bind="value:orderState", placeholder="State", required, type="state", pattern="[a-zA-Z]{2}", title="Two letter state abbreviation only")
            input.zip(data-bind="value:orderZipCode", placeholder="Zip", required, type="zip", pattern="[0-9]{5}", title="5 digit zip code only")
            br
            input.threeWide(data-bind="value:orderPhoneFormatted, valueUpdate:'afterkeydown'", placeholder="Phone", required, type="tel")
            br
            .button(data-bind="click: copyShippingToBilling") Copy shipping details to billing details
            br
            h3 Billing Details
            input.threeWide(data-bind="value:orderBillingName", placeholder="Name", required)
            br
            input.threeWide(data-bind="value:orderBillingStreet", placeholder="Street", required)
            br
            input.city(data-bind="value:orderBillingCity", placeholder="City", required)
            input.state(data-bind="value:orderBillingState", placeholder="State", required, type="state", pattern="[a-zA-Z]{2}", title="Two letter state abbreviation only")
            input.zip(data-bind="value:orderBillingZipCode", placeholder="Zip", required, type="zip", pattern="[0-9]{5}", title="5 digit zip code only")
            br
            input.threeWide(data-bind="value:orderBillingPhoneFormatted, valueUpdate:'afterkeydown'", placeholder="Phone", required, type="tel")
            input.button.checkout(type="submit", value="Place Order")
            .button.cancel(data-bind="click: viewCart") Cancel


block scripts
  script
    head.ready(function(){
      head.js('/scripts/store.js');
    });